.toolbox
  box_shadow = 1px 1px 3px 0px grey
  selected_bg = #e2e2e2
  selected_outline = #8623ad

  input[type='color']
    &:hover
      box-shadow box_shadow
  label
    display inline-block
    margin-bottom none

  .colorpicker
    display inline-block

  .toolbox-button
    border 2px dotted black
    margin-left 3px
    margin-right 3px
    padding-left 20px
    padding-right 20px
    padding-top 3px
    padding-bottom 6px
    cursor pointer
    &:hover
      box-shadow box_shadow
    &.selected
      background selected_bg
      border 2px dotted selected_outline
      box-shadow inset -1px 1px 5px 0px #000