.toolbox
  box_shadow = 1px 1px 3px 0px grey
  purple_1 = #28003b
  purple_2 = #c5a6ff

  input[type='color']
    background none
    padding 0
    outline none
    border 1px solid black
    height 25px
    cursor pointer
    &:hover
      box-shadow box_shadow

  .colorpicker
    height 0
    width 0

  .toolbox-button
    border 1px solid black
    margin-left 3px
    margin-right 3px
    padding-left 8px
    padding-right 8px
    padding-top 3px
    padding-bottom 6px
    cursor pointer
    &:hover
      box-shadow box_shadow
    &.selected
      background purple_1
      color white
      border 2px dotted purple_2