.modal-bg
  position absolute
  top 0
  left 0
  height 100%
  width 100%
  background rgba(0,0,0,0.5)

.modal
  width 400px
  background #fff
  border-radius 5px
  position absolute
  top 30%
  left 30%
  padding 20px
  .modal-title
    background #000
    color #fff
    padding 12px
    position relative
    left -20px
    top -20px
    width 416px
    height 30px
    border-top-left-radius 5px
    border-top-right-radius 5px
  .modal-buttons
    position absolute
    top 80%